/DataLayer/obj/Debug/*.cache
/DataLayer/obj/Release/*.cache
*.cache
/packages
/web api server/bin
/*/*/bin
/*/*/bin/Debug
/*/*/bin/Release
/*/*/obj/Debug
/*/*/obj/Release
/server/packages
/client/packages